:root {
  .run {
    :global {
      .ant-collapse-header {
        background: #F4F4F5;
      }
    }
    margin-top: 10px;

    .descriptions-top {
      padding-top: 10px;
    }

    .info {
      &__title {
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #878C96;
        line-height: 20px;
      }

      &__val {
        margin-top: 4px;
      }

      :global {
        .ant-typography {
          margin-bottom: 0;
        }
      }

      &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 6px;

        &__label {
          width: 80px;
        }

        &__value {
          flex: 1;
        }

        &__paragraph {
          margin-bottom: 0 !important;
        }
      }
    }

    &__around {
      margin-top: 40px;

      &__collapse {
        background: #FFFFFF;
        border-radius: 4px;

        &__item {
          margin-bottom: 40px;
        }
      }
    }

    &__total {
      margin-top: 40px;
    }

    &__breadcrumb {
      margin-top: 10px;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #878C96;
      line-height: 22px;
    }

    &__topic {
      margin-top: 16px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &__label {
        font-size: 18px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #1E2A3D;
        line-height: 26px;
      }

      &__status {
        margin-left: 8px;
      }
    }

    &__divider {
      background: #E9EAEC;
      border-radius: 1px;
      opacity: 0.5;

    }
  }

  .modal-content {
    max-height: 700px;
  }
}
