.report-status {
  display: inline-flex;
  margin-left: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;

  &.pass {
    color: #09b866;
    background-color: #dff7e8;
  }

  &.noPass {
    color: #ff4d0d;
    background-color: #fff1e6;
  }

  &.partPass {
    color: #ffaa0c;
    background-color: #fef5d0;
  }
}
