.table-fields {
  .setting-box {
    .title {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .check-box {
    position: absolute;
    right: 36px;
    top: 68px;
  }

  .action-btn {
    margin-top: 30px;
  }
}
