.table-fields {
  .setting-box {
    &.mg-top-m {
      margin-top: 40px;
    }

    .title {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 12px;
    }

    .setting-table {
      :global {
        .table-box {
          .ant-table-body {
            overflow: auto hidden !important;
            height: 15px !important;
          }
        }
      }
    }
  }

  .check-box {
    position: absolute;
    right: 54px;
    top: -45px;
  }

  .action-btn {
    margin-top: 30px;
  }
}
