.table {
  :global {
    .ant-spin {
      transform: translateX(0);
    }
    .ant-pagination-total-text {
      margin-right: auto;
      color: #878c96;
      font-size: 12px;
    }

    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td,
    .ant-table tfoot > tr > th,
    .ant-table tfoot > tr > td {
      padding: 8px;
      &:first-child {
        padding-left: 0;
      }
    }

    .ant-table-row-expand-icon-cell {
      padding-right: 0 !important;
    }
  }
}

.actions-header {
  display: flex;
  padding-bottom: 16px;
}

.right {
  margin-left: auto;
  & > * {
    margin-left: 8px;
  }
}

.left {
  display: flex;
  align-items: center;
  .checkbox-wrapper {
    .checkbox {
      margin-right: 24px;
    }
    .checkbox-label {
      color: #0c62ff;
    }
  }

  .select-tip {
    margin: 0 12px;
  }
  .select-num {
    color: #0c62ff;
    margin: 0 0.5em;
  }
  .actions {
    display: flex;
    gap: 16px;
    .action-item {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #0c62ff;
      &-delete {
        color: #ff4d0d;
      }
    }
    > a {
      + & {
        margin-left: 15px;
      }
    }
  }
}

.title-container {
  display: flex;
  .current-page-text {
    color: #0c62ff;
    font-weight: normal;
  }
  .dividing-line {
    width: 1px;
    height: 15px;
    align-self: center;
    background-color: #f1f2f4;
    margin: 0 12px;
  }
}

.dropdown-content {
  position: absolute;
  top: -30px;
  padding: 12px 16px 16px 16px;
  left: 30px;
  width: 260px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 6px rgba(9,25,64,0.06), 0px 4px 8px -4px rgba(9,25,64,0.12), 0px 0px 1px 0px rgba(9,25,64,0.24);
  border-radius: 4px;
  margin-top: 8px;
  z-index: 1;
}

.dropdown-title {
  font-weight: 600;
  font-size: 14px;
  height: 22px;
  color: rgba(9,25,64,0.9);
  line-height: 22px;
  text-align: left;
  font-style: normal;
  margin-bottom: 16px;
}

.status-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 6px;
}

.status-item {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.status-count {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: rgba(9,25,64,0.5);
  line-height: 22px;
}

.dropdown-footer {
  float: right;
}

.confirm-btn {
  margin-left: 8px;
}

.view-link {
  color: #0C62FF;
  cursor: pointer;
}

.status-text {
  .num {
    color: #0c62ff !important;
    margin: 0 0.5em !important;
  }
}
