.detail {
  padding-bottom: 4px;
  > h6 {
    color: #999;
    font-size: 14px;
    padding-bottom: 8px;
  }
  .step-header {
    margin-top: 20px;
  }
  &__content {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .input {
          width: 180px;
        }
      }
    }

    &__tips {
      font-size: 12px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #878c96;
      margin-top: 16px;
      line-height: 20px;
      span {
        margin-left: 3px;
      }
    }
  }
}
