.filter-search {
  display: inline-block;
  width: 200px;
  vertical-align: middle;
  margin-right: 8px;
  // margin-bottom: 12px;

  input {
    font-size: 12px;
    &::placeholder {
      color: #B5BAC5;
    }
  }
}
