.search-tag {
  display: flex;
  align-items: center;
  padding-left: 8px;

  .name {
    height: 20px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #848C9F;
    line-height: 20px;
  }

  .value {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #213053;
  }

  .ml4 {
    margin-left: 4px;
  }

  .count {
    padding: 0 4px;
    height: 16px;
    line-height: 16px;
    background: #b0d6ff;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 12px;
  }
}

.search-criteria {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 8px;
  // margin-bottom: 12px;
  padding: 4px 8px 4px 0;
  width: max-content;
  height: 28px;
  background-color: #e6f3ff;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;

  span:first-child {
    width: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &:hover {
    background-color: #F1F2F4;
  }

  &.active {
    background: #e6f3ff;
  }
}

.search-criteria-icon {
  margin-left: 8px;
  svg {
    fill: #848C9F;
  }
}
