.test-type-mapping {
  margin-top: 15px;
}

.test-type-mapping-item {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  max-width: 80%;
  > h3 {
    flex: 6em;
    padding-right: 20px;
    margin-bottom: 0;
    font-size: 14px;
  }
  .item-type-selector {
    width: 100%;
  }
}

.item-type-selector-label {
  display: flex;
  align-items: center;

  .icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border: none;
    outline: none;
    // margin-top: -6px;
  }
}
