@proxima:registry=https://npm.gitee.work/repository/gitee-npm/
registry=https://registry.npmmirror.com
strict-peer-dependencies=false
auto-install-peers=true
# store-dir=./node-dependencies

# https://pnpm.io/npmrc#link-workspace-packages
# packages默认只能从npm源下载，不会指向本地。如果需要指向本地，要加上workspace:
link-workspace-packages=false

# 可以禁用安装全部依赖
# recursive-install=false
