app:
  uuid: bf73e61c-e15a-4461-a1f7-f940c2009332
  name: test-manager
modules:
  webtrigger:
    # 动态配置 one 路由
    - key: gitee-menus
      function: gitee-menus
  trigger:
    - key: test-manager-initial-script
      events:
        # 使用 update trigger 暂时替代
        # - proxima:app:install
        - proxima:app:install
      function: test-manager-initial-script
    - key: test-manager-update-script
      events:
        - proxima:app:update
      function: test-manager-initial-script
  function:
    - key: gitee-menus
      handler: /trigger/webTrigger/gitee-menus.js
    - key: test-manager-initial-script
      handler: /trigger/appTrigger/initialScript.js
    - key: test-manager-validate-script
      handler: /trigger/import/validate.js
    - key: test-manager-import-script
      handler: /trigger/import/import.js
  itemPanel:
    - key: test-manager-test-detail
      resource: main
      title: 测试管理
      loadType: Micro
      route: /testPanel
  adminPage:
    - key: test-config
      resource: main
      title: 测试管理配置
      loadType: Micro
      route: /testConfig
  workspacePage:
    - key: test-plan
      resource: main
      title: 测试计划
      loadType: Micro
      route: /testPlan
      {workspacePageHidden}
    - key: test-repository
      resource: main
      title: 测试用例库
      loadType: Micro
      route: /testRepo
      {workspacePageHidden}
    # - key: main-test-plan
    #   resource: main
    #   title: 测试计划
    #   loadType: Micro
    #   route: /testPlan
    #   hidden: true
    # - key: main-test-repository
    #   resource: main
    #   title: 测试用例库
    #   loadType: Micro
    #   route: /testRepo
    #   hidden: true
  beforeCreateOrUpdateModal:
    - key: before-create-or-update-modal
      resource: main
      title: 新建事项
      loadType: Micro
      route: /beforeItemCreate
  importer:
    function: test-manager-import-script
    validate: test-manager-validate-script
    itemFields:
      - key: group
        title: 所属分组
      # - key: priority
      #   title: 优先级
      - key: precondition
        title: 前置条件
      - key: action
        title: 步骤描述
      - key: result
        title: 预期结果
      - key: data
        title: 数据
  customItemType:
    - key: test_manager_detail
      name: 测试用例
      icon: /icons/BookMark.svg
      description: 测试管理事项类型-测试用例
      displayConditions:
        displayModules:
          adminPage:
            - automation
            - itemType
            - hierarchy
            - linkType
            - screenScheme
            - workflowScheme
          plugin:
            - testManager
        displayContext: test_manager
    - key: test_manager_plan
      name: 测试计划
      icon: /icons/Flag.svg
      description: 测试管理事项类型-测试计划
      displayConditions:
        displayModules:
          adminPage:
            - automation
            - itemType
            - hierarchy
            - linkType
            - screenScheme
            - workflowScheme
          plugin:
            - testManager
        displayContext: test_manager
    - key: test_manager_execution
      name: 测试执行任务
      icon: /icons/Signet.svg
      description: 测试管理事项类型-测试执行任务
      displayConditions:
        displayModules:
          adminPage:
            - automation
            - itemType
            - hierarchy
            - linkType
            - screenScheme
            - workflowScheme
          plugin:
            - testManager
        displayContext: test_manager
tables:
  - className: Repository
    fields:
      name:
        type: String
      workspaceKey:
        type: String
      parent:
        type: Pointer
        isAppClass: true
        targetClass: Repository
      testDetailIds:
        type: Array
      sortIndex:
        type: Number
  - className: TestConfig
    fields:
      workspaceKey:
        type: String
      isolateTestType:
        type: Array
      itemTypeMap:
        type: Object
      defectsMapping:
        type: Array
      global:
        type: Boolean
      extra:
        type: Object
  - className: Test
    fields:
      reference:
        type: Pointer
        targetClass: Item
      workspaceKey:
        type: String
      type:
        type: String
      status:
        type: String
      runDetail:
        type: Object
      # 废弃， 使用 detail 字段替代
      steps:
        type: Array
      detail:
        type: Object
      sortIndex:
        type: Number
      runReferenceDetail:
        type: Pointer
        isAppClass: true
        targetClass: Test
  - className: Activity
    fields:
      resource:
        type: String
      avatar:
        type: String
      log:
        type: String
      type:
        type: Number
      originValue:
        type: String
      newValue:
        type: String
  - className: TestRelation
    fields:
      from:
        type: Pointer
        isAppClass: true
        targetClass: Test
      to:
        type: Pointer
        isAppClass: true
        targetClass: Test
      relationType:
        type: String
resources:
  - key: main
    path: ./dist/
