:root {
  .status {
    display: inline-flex;
    padding: 0 21px;
    align-items: center;

    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 8px;
    }

    &.hover {
      cursor: pointer;
      border-radius: 4px;
      transition: background 0.2s;
      // &:hover {
      //   background: #f4f4f5;
      // }
    }

    &.block {
      display: flex;
      height: 32px;
    }
  }

  .hide-icon {
    display: flex;
    min-width: 70px;
    padding: 0 !important;
    justify-content: center;

    .name {
      font-weight: bold;
    }

    &.EXECUTING {
      .name {
        color: #ffaa0c;
      }
    }

    &.PASSED {
      .name {
        color: #09b866;
      }
    }

    &.FAILED {
      .name {
        color: #ff4d0d;
      }
    }

    &.BLOCK {
      .name {
        color: #5b42ff;
      }
    }

    &.CANCEL {
      .name {
        color: #848c9f;
      }
    }

    &.TODO {
      .name {
        color: #0c62ff;
      }
    }
  }

  .run-status {
    background: #e2ecff;
    border-radius: 4px;

    .icon {
      margin-left: 8px;
      line-height: 5px;
      color: #878c96;
    }
  }

  .icon {
    margin-left: 4px;
    color: #848c9f;
    :global {
      svg {
        font-size: 12px;
      }
    }
  }

  .EXECUTING {
    background: #fffae6;
  }

  .PASSED {
    background: #e2ffee;
  }

  .FAILED {
    background: #ffebe5;
  }

  .BLOCK {
    background: #f0ecff;
  }

  .CANCEL {
    background: #f5f6f8;
  }

  .status-badge-overlay {
    :global {
      // 需要覆盖 popover本身的padding达到ui效果
      .ant-popover-inner-content {
        padding: 13px 0 !important;
      }
    }
  }

  .effect-status {
    padding: 0 8px;
  }
}
