.word-template {
  .word-template-btn {
    text-align: right;
    button {
      position: absolute;
      top: 12px;
      right: 24px;
    }
  }
}
.word_template_modal {
  :global {
    .ant-form-item-label
      > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
      color: #ff7236;
    }
  }
}
