.form {
  padding: 0 15px 30px;
}

.step-title {
  margin-top: 14px;
}

.field-label {
  font-size: 14px;
  color: #909aaa;
  .required {
    color: #ff5630;
  }
}

.repository-selector {
  height: 32px;
  line-height: 32px;
  width: 100%;
}
