.form {
  padding: 0 15px 30px;
}

.step-title {
  margin-top: 14px;
}

.field-label {
  font-size: 14px;
  color: #909aaa;
  .required {
    color: #ff5630;
  }
}

.repository-selector {
  height: 32px;
  line-height: 32px;
  width: 100%;
}

.precondition {
  position: relative;
  :global {
    textarea {
      text-indent: 63px;
    }
  }
}
.precondition-text {
  position: absolute;
  left: 12px;
  top: 5px;
  z-index: 9999;
  color: #999;
  background-color: #fff;
}
.precondition-readonly {

}
.precondition-readonly-label {
  color: #999;
}
.precondition-readonly-text {
  
}
.step-title-wrap {
  display: flex;
  justify-content: space-between;
}