.test-plan-container {
  .plan-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .header-left {
      font-size: 18px;
      font-weight: 500;
      color: #1e2a3d;
      line-height: 26px;
    }

    .header-right {
      display: flex;
      align-items: center;

      > * {
        margin-right: 8px;
      }
    }
  }

  .plan-table-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      .plan-table-title-right {
        display: block;
      }
    }

    .plan-table-title-left {
      flex: 0.9;

      .test-plan-title {
        cursor: pointer;
        margin-left: 8px;

        &:hover {
          color: #0c62ff;
        }
      }
    }

    .plan-table-title-right {
      display: none;
      flex: 0.1;
    }
  }
}
