.test-plan-container {
  height: ~'calc(100% - 110px)';

  .plan-header {
    display: flex;
    flex-direction: column;

    .plan-header-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 24px;
    }
    .plan-header-slot {
      border-top: 1px solid #dadde3;
    }

    .header-left {
      font-size: 18px;
      font-weight: 500;
      color: #1e2a3d;
      line-height: 26px;
    }

    .header-right {
      display: flex;
      align-items: center;
    }
  }

  :global {
    .test-plan-title-box {
      position: relative;
      cursor: pointer;

      .test-plan-title {
        padding: 0 24px;
      }

      .icon {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 22px;
      }

      &:hover {
        .plan-table-title-menu {
          display: flex;
        }
      }

      .plan-table-title-menu {
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        height: 22px;
        width: 22px;
        height: 22px;
        border-radius: 4px;
        background-color: #f1f2f4;
        font-weight: bold;
      }
    }
  }

  .plan-table-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      .plan-table-title-right {
        display: block;
      }
    }

    .plan-table-title-left {
      flex: 0.9;

      .test-plan-title {
        cursor: pointer;
        margin-left: 8px;

        &:hover {
          color: #0c62ff;
        }
      }
    }

    .plan-table-title-right {
      display: none;
      flex: 0.1;
    }
  }
}

:global {
  .ant-tooltip .ant-tooltip-content .ant-tooltip-inner {
    .test-plan-title-box .icon,
    .test-plan-title-box .plan-table-title-menu {
      display: none;
    }
  }
}

:root {
  .test-manager-filter {
    padding: 12px 24px;
  }
}
