.complete-rate-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .rate {
    font-size: 14px;
    line-height: 20px;
    margin-right: 8px;
  }

  .progress {
    flex: 0.7;
  }
}
