.container {
  min-width: 600px;
  width: 70%;
  margin: 0 auto;

  > h3 {
    font-weight: 700;
    font-size: 16px;
    margin: 16px 0;
  }

  .label {
    margin-bottom: 6px;
  }
  .form {
    max-width: 700px;
  }
}
