.container {
  padding: 0 24px;
  > h3 {
    font-weight: 700;
  }
  .actions {
    display: flex;
    margin-bottom: 12px;

    .button.create {
      margin-left: auto;
    }
  }

  :global {
    .ant-switch-checked {
      .ant-switch-handle {
        left: calc(59%);
      }
    }
  }
}

.table-action {
  margin-left: -8px;
  > * {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.tags {
  .tag {
    font-size: 12px;
    font-weight: 700;
    padding: 4px 8px;
    border-radius: 4px;
    margin-left: 8px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .isGlobalTemplate {
    background-color: #e6feff;
    color: #0099cc;
  }

  .isDefaultTemplate {
    background-color: #f1f2f4;
    color: #525e79;
  }

  .workspace {
    background-color: #dff7e8;
    color: #09b866;
  }
}

.workspace-template-setting {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 24px;
  h6 {
    font-weight: 600;
  }

  > div {
    display: flex;
    align-items: center;
  }
}
