.tooltip {
  :global {
    .ant-tooltip-content {
      margin-bottom: 6px;
    }
    .ant-tooltip-arrow {
      transform: translateY(-6px);
    }
  }
}

.icon {
  font-size: 16px;
}

.ant-table-row-dragover {
  background-color: #fafbfb ;
}
