:root {
  .status {
    display: inline-flex;
    padding: 0 21px;
    align-items: center;

    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 8px;
    }

    &.hover {
      cursor: pointer;
      border-radius: 4px;
      transition: background 0.2s;
      // &:hover {
      //   background: #f4f4f5;
      // }
    }

    &.block {
      display: flex;
      height: 32px;
    }
  }

  .run-status {
    background: #E2ECFF;
    border-radius: 4px;

    .icon {
      margin-left: 8px;
      line-height: 5px;
      color: #878C96;
    }
  }

  .EXECUTING {
    background: #FFFAE6;
  }

  .PASSED {
    background: #E2FFEE;
  }

  .FAILED {
    background: #FFEBE5;
  }

  .status-badge-overlay {
    :global {
      // 需要覆盖 popover本身的padding达到ui效果
      .ant-popover-inner-content {
        padding: 13px 0 !important;
      }
    }
  }

  .effect-status {
    padding: 0 8px;
  }
}
