@import '@/common.less';

.page {
  height: 100%;
  min-height: 60vh;
}

.sider {
  background-color: #fff !important;
  border-right: 1px solid @border-color;

  .title {
    font-size: 18px;
    padding: 0 16px;
    line-height: 58px;
    font-weight: 600;
  }
}

.main {
  .header,
  .content {
    background-color: #fff;
    padding: 0 24px;
  }

  .header {
    display: flex;
    align-items: center;
    line-height: 1.5;
    padding-top: 12px;
    height: auto;

    .left {
      margin-right: 2em;
    }

    .title {
      width: 260px;
      margin-bottom: 12px;
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .description {
      margin: 0;
      font-size: 14px;
    }

    .right {
      margin-left: auto;
    }
  }

  .content {
    padding-top: 40px;
    &.no-padding {
      padding: 0;
    }
  }
}

.check-box {
  margin-left: 12px;
}
