.test-entity-list-box {
  height: 100%;
  width: 100%;

  .user-field {
    white-space: nowrap;
  }

  .run-link {
    :global {
      .ant-btn.ant-btn-link {
        padding-left: 0px !important;
      }
    }
  }

  :global {
    .batch-action.ant-table-wrapper table {
      thead tr th:nth-child(2) {
        padding-left: 4px !important;
      }

      tbody tr:not(:first-child) td:nth-child(2) {
        padding: 9.5px 16px 9.5px 4px !important;
      }
    }
  }
}
