@import '@/index.global.less';

.header {
  display: flex;
  align-items: center;
  color: #091940;
  line-height: 26px;
  font-size: 14px;
  padding-right: 24px;
  height: 48px;

  > h6 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;
    position: relative;
    margin-right: 33px;
  }

  .view-selector-container {
    &::before {
      content: '';
      position: absolute;
      height: 12px;
      right: -16px;
      width: 1px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #ccc;
    }
    .item {
      cursor: pointer;
      margin-right: 16px;
      font-size: 18px;
    }
    .actived {
      color: #0c62ff;
    }
  }
}
