:root {
  .hint {
    font-size: 12px;
  }

  .select {
    width: 100%;
  }

  .footer {
    display: flex;
    align-items: center;

    .info {
      font-size: 12px;
      color: #999;
    }

    .num {
      color: #333;
      margin: 0 4px;
    }

    .actions {
      margin-left: auto;
    }
  }

  .select-box {
    display: flex;
    align-items: center;

    .select-title {
      margin-right: 4px;
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100px;
    }

    .select-key {
      font-size: 12px;
      color: rgb(170, 170, 170);
    }
  }

  .modal {
    :global {
      .ant-modal {
        .ant-modal-content {
          // add
          border-radius: 2px;
          .ant-modal-header {
            margin-bottom: 0;
          }
          .ant-modal-title {
            font-weight: bold;
            color: #091940;
            line-height: 24px;
          }
        }
      }
    }
  }
}
