:root {
  .model-select {
    position: relative;
    margin-top: -16px;

    .checked-num {
      position: absolute;
      left: 64px;
      bottom: 16px;
      line-height: 16px;
      padding-left: 16px;
      border-left: 1px solid #e9eaec;
      display: flex;
      align-items: center;

      .num {
        padding: 0 4px;
        min-width: 16px;
        color: #0a50d1;
        text-align: center;
      }
    }
    .model-select-header {
      :global {
        .filter-search-box {
          padding-bottom: 16px;
        }
      }
    }

    :global {
      .table-box {
        .ant-table-body {
          min-height: 420px !important;
        }
        .ant-table-wrapper {
          padding: 0 !important;
        }

        .selection-header-box {
          display: none;
          // margin: 0 -24px;

          // .table-cancel-action {
          //   display: none;
          // }
        }

        .footer-box {
          margin: 0 !important;
          border-top: none !important;
        }
      }
    }
  }
}
