:root {
  .model-select {
    .filter-tag-btn {
      display: inline-block;
      // margin-bottom: 12px;
      padding: 4px 8px;
      height: 28px;
      font-size: 12px;
      border-radius: 4px;
      vertical-align: middle;

      &:hover {
        background-color: #ffffff !important;

        .filter-tag-btn-text {
          color: #0c62ff;
        }

        svg {
          fill: #0c62ff;
        }
      }

      &:active {
        background-color: #ffffff !important;
      }

      :global {
        .filter-tag-btn-text {
          margin-left: 4px !important;
        }
      }
    }

    .filter-tag-icon {
      margin-top: -2px;
      font-size: 12px;
      vertical-align: middle;
    }

    .filter-search-box {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      // min-height: 28px;
      // padding: 12px 24px 0 24px;
      border-bottom: 1px solid #e9eaec;

      :global {
        .field-value-overlay {
          height: 0;
        }
        .ant-picker-input {
          display: none;
        }
        .ant-picker-range-separator {
          display: none;
        }
        .ant-picker-range {
          position: absolute;
          left: 30px;
          padding: 0;
        }
        .field-cell-layout {
          position: absolute;
          left: 30px;
          width: 0;
        }
        .field-layout {
          position: absolute;
          left: 30px;
          width: 0;
          margin-top: -10px;
        }
        .ant-popover-open {
          position: absolute;
          left: -10px;
          margin-top: -20px;
        }
        .field-value {
          left: -10px;
        }
      }
    }
    :global {
      .table-box {
        .extra-column-setting {
          display: none !important;
        }
        .ant-table-wrapper {
          min-height: 462px;
        }

        .ant-table-container table > tbody > .ant-table-measure-row td {
          padding: 0 !important;
        }

        .ant-table-thead > tr > th,
        .ant-table-tbody > tr > td {
          padding: 9.5px 16px 9.5px 4px !important;
        }

        .selection-header-box {
          display: none;
        }

        .footer-box {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
