.header {
  height: 58px;
  box-shadow: 0px 3px 3px 0px rgba(115, 129, 152, 0.16), 0px 0px 2px 0px rgba(115, 129, 152, 0.32);
  display: flex;

  > h3 {
    flex: none;
    font-weight: 700;
    font-size: 18px;
  }

  .step-container {
    width: 70%;
    min-width: 400px;
    margin: 0 auto;
  }

  .action {
    flex: none;
  }
}
