.report-box {
  height: 100%;
  background-color: #f5f6f8;
  overflow: auto;
}

.report-header {
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 4px 0 #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: #fff;

  .report-header-title {
    display: flex;
    align-items: center;
    cursor: pointer;

    .title {
      font-size: 18px;
      line-height: 26px;
      color: #091940;
    }

    .icon {
      color: #091940;
      margin-right: 8px;
      font-size: 16px;
    }
  }
}

.main-content {
  width: 82%;
  max-width: ~'calc(100% - 180px)';
  margin: 0 auto;
}

.report-body {
  height: ~'calc(100% - 64px)';
  .report-overview-wrapper {
    box-sizing: border-box;
    border-radius: 4px;
    background: linear-gradient(180deg, #0c62ff, #4dcbff);

    .report-overview {
      padding-top: 40px;
      padding-bottom: 70px;
      .main-content;
    }
  }

  .title {
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .info {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 4px;
      background-color: #ffffff33;

      .editor-icon {
        color: #ffffff;
        font-size: 14px;
        cursor: pointer;
        z-index: 2;

        // &:hover {
        //   color: #0c62ff;
        // }
      }
    }

    .name {
      font-size: 24px;
      font-weight: 500;
      color: #fff;
      line-height: 32px;
    }

    .status {
      display: flex;
      margin-left: 8px;
      padding: 4px 8px;
      border-radius: 4px;
      font-size: 12px;
      line-height: 16px;

      &.pass {
        color: #09b866;
        background-color: #dff7e8;
      }
    }
  }

  .content {
    padding-top: 25px;
    display: flex;
    color: #fff;
    font-size: 14px;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    cursor: default;

    .overview-item {
      flex: 0 0 auto;
      max-width: 33%;
      display: inline-flex;
    }

    .text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .label,
    .split {
      flex: none;
    }
    .split {
      padding: 0 1em;
    }
  }

  .report-iframe {
    .main-content;
    display: flex;
    margin-top: -30px;
    min-height: ~'calc(100% - 80px)';
    background: #fff;
    padding: 16px 6px;
    border-radius: 4px;
  }
}
