.index-box {
  width: 18px;
  height: 18px;
  color: #fff;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  background-color: #3c85f5;
}

.common-box {
  word-break: break-all;
  white-space: pre-line;
}

.comment-editor {
  height: 100%;
  width: 100%;
}
