.query-header {
  display: flex;
  justify-content: space-between;
}

.duplicate-panel {
  padding: 20px 0;
}

.no-duplicate {
  font-size: 24px;
  padding-top: 30px;
}

.case-item {
  padding: 4px 0;
}
