.action-btn {
  margin-top: 30px;
}

.select {
  width: 500px;
  display: block;
}

.specific {
  margin-top: 30px;
  > p {
    margin-bottom: 10px;
  }
  > div {
    margin-bottom: 6px;
  }
  .action-name {
    margin-left: 6px;
  }
}
