.test-plan-page {
  height: 100%;

  .page-header {
    display: flex;
    align-items: center;

    .title {
      font-size: 18px;
      font-weight: 500;
      color: #1e2a3d;
      line-height: 26px;
    }

    .icon {
      &:hover {
        color: #0c62ff;
      }
    }

    > * {
      margin-right: 12px;
    }
  }
}
