@import '@/index.global.less';
.test-plan-page {
  height: 100%;

  .tree-box {
    overflow-y: auto;
    max-height: ~'calc(100% - 46px)';
    padding: 12px;
  }

  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px 16px 0;
    line-height: 24px;

    .header-left {
      display: flex;
      align-items: center;

      .title {
        font-size: 18px;
        font-weight: 500;
        color: #1e2a3d;
        line-height: 26px;
      }

      .icon {
        &:hover {
          color: #0c62ff;
        }
      }

      > * {
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }
      }

      .test-tabs {
        position: relative;
        display: flex;
        align-items: center;
        margin-left: 16px;
        padding: 0 16px;

        &::before {
          position: absolute;
          content: '';
          top: 50%;
          left: 0;
          height: 60%;
          width: 0;
          border-left: 1px solid #dadde3;
          transform: translateY(-50%);
        }

        .tab-title {
          font-size: 18px;
          font-weight: 500;
          color: #1e2a3d;
          line-height: 26px;
          cursor: pointer;
          margin-right: 16px;

          &.actived {
            color: #0c62ff;
          }
        }
      }
    }

    .header-right {
      min-width: 360px;
    }
  }

  .fold-search {
    padding: 8px;
    border-bottom: 1px solid #dadde3;
  }

  .action-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

    .box-right {
      height: 46px;

      > * {
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.extra-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;
  font-size: 16px;
  border-bottom: 1px solid #dadde3;

  .extra-content-left {
    font-size: 14px;
    font-weight: 400;
    color: #213053;
    line-height: 22px;
  }

  .extra-content-right {
    display: flex;

    > * {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .line {
    height: 20px;
    width: 1px;
    background-color: @border-color;
    margin-left: 8px;
    margin-right: 14px;
  }
}

.plan-page-layout-search {
  padding: 8px 24px;
}
