.folder-tree {
  overflow-y: auto;

  .toolkit-bar {
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
    border-bottom: 1px solid var(--color-gray-5);

    & > * {
      margin-right: 10px;
    }
  }

  .tree {
    padding: 10px;
  }
}
