.tab-list {
  width: 50%;

  :global {
    .ant-tabs-nav {
      margin: 0;
    }

    .ant-tabs-tab {
      max-width: 120px;

      .ant-tabs-tab-btn {
        max-width: 100%;

        .ant-dropdown-trigger {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

.show-list {
  display: flex;

  .execution-menu {
    position: relative;
    max-width: 150px;
    margin-right: 6px;
    cursor: pointer;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    &:hover {
      background: #e6f3ff;

      .icon {
        display: flex;
      }
      .name {
        color: #0c62ff;
      }
    }

    &.actived {
      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        border-bottom: 1px solid #3683ff;
      }

      .name {
        font-weight: bold;
        color: #3683ff;
      }
    }

    .name {
      // width: 120px;
      font-size: 14px;
      font-weight: 400;
      color: #213053;
      line-height: 40px;
      padding: 0 22px 0 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .icon {
      display: none;
      align-items: center;
      justify-content: center;
      position: absolute;
      content: '';
      top: 9px;
      right: 0;
      height: 22px;
      width: 22px;
      height: 22px;
      border-radius: 4px;
      color: #3683ff;
      font-weight: bold;
    }
  }
}

.hide-list-icon {
  cursor: pointer;

  .more-box {
    display: flex;
    align-items: center;

    .icon {
      color: #9097a9;
      margin-right: 4px;
    }
    .more {
      font-size: 14px;
      font-weight: 400;
      color: #9097a9;
      line-height: 40px;
    }
  }
}

.hide-list-menu {
  position: relative;
  max-width: 160px;
  margin-right: 12px;
  cursor: pointer;

  &:hover {
    .icon {
      display: flex;
    }
    .name {
      color: #3683ff;
    }
  }

  .name {
    width: 120px;
    font-size: 14px;
    font-weight: 400;
    color: #213053;
    line-height: 22px;
    padding: 0 22px 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 22px;
    width: 22px;
    height: 22px;
    border-radius: 4px;
    color: #3683ff;
    // background-color: #f1f2f4;
    font-weight: bold;
  }
}
