.tab-list {
  width: 50%;

  :global {
    .ant-tabs-nav {
      margin: 0;
    }

    .ant-tabs-tab {
      max-width: 120px;

      .ant-tabs-tab-btn {
        max-width: 100%;

        .ant-dropdown-trigger {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
