:root {
  --menu-bg: rgba(255, 255, 255);
}

:root {
  html,
  body {
    padding: 0;
    margin: 0;
  }

  // FIXME:解决面板抽屉组件样式抖动问题，共享组件库样式影响，需优化共享组件库打包方式，
  :global {
    .field-layout .ant-col.field-value {
      line-height: 22px !important;
      min-height: 22px !important;
    }

    .search-popover-select-panel {
      min-width: 310px;
    }

    .global-ant-modal.ant-modal {
      .ant-modal-content {
        // add
        padding: 0;
        border-radius: 2px;
        .ant-modal-footer {
          margin-top: 0;
          // padding: 24px 24px;
        }
        .ant-modal-header {
          margin-bottom: 0;
        }
        .ant-modal-close-x {
          line-height: 55px !important;
          height: 55px !important;
        }
        .ant-modal-title {
          font-weight: bold !important;
          color: #091940;
          line-height: 24px;
        }
        .ant-modal-close {
          top: 0;
          right: 0;
          width: auto;
          height: auto;
          .ant-modal-close-x {
            display: block;
          }
        }
      }
    }

    .global-popconfirm.ant-popconfirm {
      .ant-popover-inner {
        padding: 0;
      }
    }

    .global_arrow_tooltip_overflow.ant-tooltip {
      .ant-tooltip-arrow {
        display: none;
      }
    }
  }

  .ant-tooltip-arrow {
    .ant-tooltip-arrow-content {
      display: none !important;
      // --antd-arrow-background-color: #576473;
    }
  }

  #test-manager {
    position: relative;
    height: 100%;

    // add
    .tooltip-overflow {
      color: var(--theme-text-color);
    }
    .ant-table-thead,
    .ant-table-tbody {
      tr {
        th,
        td {
          overflow-wrap: break-word;
          padding: 9.5px 16px;
          background: var(--table-header-bg);
          color: var(--table-header-color);
          font-weight: normal;
          text-align: left;
          border-bottom: 1px solid var(--theme-border-color-split);
          transition: background 0.3s ease;
        }
      }
    }

    // .ant-table-ping-left .ant-table-cell-fix-left {
    //   border-right: 1px solid #eee;
    // }

    .anticon {
      height: unset;
    }

    .ant-btn.ant-btn-primary:hover,
    .ant-btn.ant-btn-primary:focus {
      color: #fff !important;
      border-color: #4b8bff !important;
      background: #4b8bff !important;
    }

    .ant-btn.ant-btn-primary[disabled]:hover,
    .ant-btn.ant-btn-primary[disabled]:focus {
      color: #b5bac5 !important;
      border-color: #dadde3 !important;
      background: #f5f6f8 !important;
      text-shadow: none;
      box-shadow: none;
    }

    .ant-table-ping-left .ant-table-cell-fix-left,
    .ant-table-ping-right .ant-table-cell-fix-right {
      box-shadow: 0px 2px 4px 0 #eee;
      // border-left: 1px solid #eee;

      &::after {
        box-shadow: none !important;
      }
    }

    .ant-table-tbody {
      tr:hover td.ant-table-cell {
        background: #fafbfb !important;
      }
    }

    .ant-tooltip-arrow-content,
    .ant-tooltip-inner {
      background-color: #576473;
      --antd-arrow-background-color: #576473;
    }

    .ant-input:focus,
    .ant-input-focused {
      border-color: #0c62ff !important;
      box-shadow: none !important;
    }

    .ant-switch-checked.test-manger-switch .ant-switch-handle {
      left: ~'calc(80% - 10px)';
    }

    .ant-input-affix-wrapper {
      padding: 2px 10px !important;
    }

    .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
      .ant-select-selector {
      border-color: #0c62ff !important;
      box-shadow: none !important;
    }

    .ant-table-thead
      > tr
      > th:not(:last-child):not(.ant-table-selection-column):not(
        .ant-table-row-expand-icon-cell
      ):not([colspan])::before {
      width: 0 !important;
    }
  }

  .ant-modal-confirm-body {
    .anticon.anticon-exclamation-circle {
      font-size: 36px !important;
    }
  }
}

.field-value {
  .anticon-down,
  .anticon-calendar {
    display: none;
  }
}
