.minder-view-container {
  height: 100%;

  :global {
    .ant-tooltip-inner {
      background-color: #fff;
      color: #576473;
    }
    .ant-tooltip-arrow {
      display: none;
    }
    .ant-modal-close {
      top: -10px;
      right: 40px;
    }
  }

  .menu-action {
    margin-left: 8px;
  }
}
