.confirm {
  padding: 30px 30px 0;

  .title {
    font-size: 16px;
    font-weight: 600;
  }
}

.modal {
  :global {
    .ant-modal-footer {
      padding: 12px 24px;
      border-top: none;
    }
  }
}
