.report-list {
  padding: 20px 0;
  height: ~'calc(100% - 72px)';

  .report-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
  }
}

.test-report-title {
  cursor: pointer;

  &:hover {
    color: #0c62ff;
  }
}
