@import '@/index.global.less';

.folder-tree {
  overflow-y: auto;
  .custom-scrollbar-mixin();

  :global {
    .ant-tree-iconEle,
    .ant-tree-switcher,
    .ant-tree-treenode,
    .ant-tree-node-content-wrapper {
      line-height: 34px !important;
      font-size: 15px;
    }

    .ant-tree-switcher-icon {
      font-size: 13px;
      padding: 4px;
    }

    .ant-tree-treenode {
      display: flex;
    }
    .ant-tree-node-content-wrapper {
      flex: 1 !important;
      overflow: hidden;
      display: flex;
    }
    .ant-tree-title {
      flex: 1;
      display: flex;
      overflow: hidden;
      align-items: center;
    }
  }

  .toolkit-bar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
    justify-content: flex-end;
    padding: 10px;
    border-bottom: 1px solid var(--color-gray-5);

    & > * {
      margin-right: 10px;
    }
  }

  .tree {
    padding-top: 10px;
    padding-left: 10px;

    .tree-node {
      display: flex;
      overflow: hidden;
      width: 100%;
      align-items: center;
      &-name {
        margin-right: 8px;
      }
      &-length,
      &-action {
        flex: none;
        margin-left: auto;
        text-align: right;
        // width: 46px;
      }

      &:hover {
        .tree-node-action {
          display: flex;
        }
        .tree-node-length {
          display: none;
        }
      }
    }

    .tree-node-action {
      display: none;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      margin-top: 4px;
      cursor: pointer;
      font-size: 16px;
      background-color: RGBA(30, 42, 61, 0.1);
      &:hover {
        background-color: RGBA(30, 42, 61, 0.4);
      }
    }

    .tree-node-length {
      margin-left: auto;
      font-size: 12px;
      width: 36px;
    }

    :global {
      .ant-tree-treenode {
        .ant-tree-node-content-wrapper,
        .ant-tree-switcher {
          color: #172b4d !important;
        }
        &-selected {
          background-color: rgb(235, 242, 249);
        }
        &-dragover,
        &:hover {
          background-color: rgb(216, 230, 243);
        }
        &:before {
          display: none;
        }
      }
    }
  }

  .empty {
    margin-top: 60px;
    .hint {
      font-size: 12px;
    }
  }
}
