@import '@/index.global.less';

.folder-tree {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  :global {
    .ant-tree {
      overflow-y: auto;
      padding-right: 8px;
      .custom-scrollbar-mixin();
    }

    .ant-tree-iconEle,
    .ant-tree-switcher,
    .ant-tree-treenode,
    .ant-tree-node-content-wrapper {
      line-height: 34px !important;
      font-size: 15px;
    }

    .ant-tree-switcher-icon {
      font-size: 13px;
      padding: 4px;
    }

    .ant-tree-treenode {
      display: flex;
    }
    .ant-tree-node-content-wrapper {
      flex: 1 !important;
      overflow: hidden;
      display: flex;
    }
    .ant-tree-title {
      flex: 1;
      display: flex;
      overflow: hidden;
      align-items: center;
    }
  }

  .toolkit-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: flex-end;
    border-bottom: 1px solid var(--color-gray-5);
    min-height: 55px;

    & > * {
      margin-right: 10px;
    }
  }

  .tree {
    padding-top: 10px;
    padding-left: 10px;

    .tree-node {
      display: flex;
      overflow: hidden;
      width: 100%;
      align-items: center;
      &-name {
        margin-right: 8px;
      }
      &-length,
      &-action {
        flex: none;
        margin-left: auto;
        text-align: right;
        // width: 46px;
      }

      &:hover {
        .tree-node-action {
          display: flex;
        }
        .tree-node-length {
          display: none;
        }
      }
    }

    .tree-node-action {
      display: none;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      margin-top: 4px;
      cursor: pointer;
      font-size: 16px;
      background-color: RGBA(30, 42, 61, 0.4);
      border-radius: 4px;
      > svg {
        color: #fff;
      }
      &:hover {
        background-color: RGBA(30, 42, 61, 0.4);
      }
    }

    .tree-node-length {
      margin-left: auto;
      font-size: 14px;
      color: var(--color-gray-7);
    }

    :global {
      .ant-tree-treenode {
        .ant-tree-node-content-wrapper,
        .ant-tree-switcher {
          color: #172b4d;
        }
        &-selected {
          background-color: rgba(226, 236, 255, 0.5);
          border-radius: 4px;
        }
        .ant-tree-node-content-wrapper.ant-tree-node-selected {
          color: @highlight-color !important;
        }

        &-dragover,
        &:hover {
          background-color: rgba(244, 244, 245, 0.7);
          border-radius: 4px;
        }
        &:before {
          display: none;
        }
      }
    }
  }

  .empty {
    margin-top: 60px;
    .hint {
      font-size: 12px;
    }
  }
}

:root {
  :global {
    .ant-btn-dangerous {
      color: var(--theme-error-color) !important;
      border-color: var(--theme-error-color) !important;
      background: var(--color-gray-1) !important;
    }
  }
}
