:root {
  .plan-selector-container {
    position: relative;
    cursor: pointer;

    .title {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      color: #1e2a3d;
      line-height: 26px;

      &:hover {
        color: #0c62ff;
      }

      .name {
        display: block;
        color: #091940;
        font-weight: 600;
        max-width: 208px;
        overflow: hidden;
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .icon {
        margin-left: 8px;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .selector-box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 2px 0px #beb7b7;
    z-index: 1;

    .search-box {
      padding: 4px 8px;
    }

    .selector-list {
      overflow: auto;
      max-height: 250px;
      border-top: 1px solid #f1f2f4;
      border-bottom: 1px solid #f1f2f4;

      .plan-name {
        padding: 8px;
        font-size: 14px;
        line-height: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:hover {
          background-color: #dadde3;
          color: #0c62ff;
        }
      }
    }

    .check-all {
      padding: 8px;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      cursor: pointer;
      color: #0c62ff;

      &:hover {
        background-color: #dadde3;
      }
    }
  }
}
