@import '@/index.global.less';

.container {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  .custom-scrollbar-mixin();

  :global {
    .ant-spin-nested-loading .ant-spin-container {
      height: auto;
    }
  }
}

.toolkit-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: flex-end;
  border-bottom: 1px solid @border-color;
  min-height: 46px;
  padding-right: 16px;
  text-align: right;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;

  & > * {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }

  .disabled {
    color: var(--color-gray-5);
    cursor: not-allowed;
  }
}

.list {
  padding: 8px 16px;
}

.plan {
  padding: 10px 8px 19px 8px;
  border-radius: 4px;
  &.selected {
    background-color: @plan-item-focus;
  }
  &.hover {
    background-color: @plan-item-hover;
  }

  .top {
    display: flex;
    line-height: 34px;
    max-width: 100%;
    overflow: hidden;
  }
  .name {
    font-size: 14px;
    margin-right: auto;
  }
  .num {
    color: #999;
    font-size: 12px;
    text-align: center;
  }

  .right {
    flex: none;
    height: 26px;
    min-width: 26px;
    min-height: 26px;
    margin-left: 8px;
  }

  .action {
    margin-top: 2px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: #d4d6d9;
    }
  }
}

.empty {
  margin-top: 100px;
}
