@import '@/index.global.less';

.drop-container {
  display: flex;
  background-color: rgb(240, 240, 240);
  height: ~'calc(100% - 82px)';
}

.drop-box {
  min-height: ~'calc(100% - 60px)';
  margin: 8px;
}

.drop-area {
  .custom-scrollbar-mixin();
  > h6 {
    position: sticky;
    top: 0;
    padding: 0 8px;
    font-size: 16px;
    font-weight: 700;
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    margin: 0;
  }
  margin: 20px;
  width: 200px;
  min-height: 120px;
  background: #fff;
  border: 1px solid rgb(187, 187, 187);
  overflow: auto;
}

.drag-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  background: rgb(247, 247, 247);
  padding: 3px 6px;
  margin-top: 3px;
  border-radius: 3px;
  height: 32px;
  cursor: move;
  &:hover {
    background: rgb(216, 228, 240);
  }
  > .icon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }
}

.action-btn {
  margin-top: 30px;
}
