:root {
  .test-editor-container {
    border-radius: 4px;
    height: 100%;
    width: 100%;
  }

  .editor-text {
    &:hover {
      border-radius: 4px;
      box-sizing: border-box;
      padding-left: 9px;
      border: 1px solid #f1f2f4;
      background-color: #fff;
    }
  }

  .placeholder {
    color: #b0b5bc;
    font-weight: 300;
    margin-top: 8px;
  }
}
