:root {
  .file-cont {
    // .file-list

    .file-list {
      display: flex;
      padding: 8px 0;
      border-top: 1px solid #e9eaec;
      cursor: pointer;

      &:last-child {
        border-bottom: 1px solid #e9eaec;
      }

      &:hover {
        background-color: #f4f4f5;
      }

      .name {
        width: 100px;
      }

      .status {
        width: 100px;
      }

      .size {
        width: 100px;
      }

      .upload-time {
        width: 100px;
      }

      .action {
        width: 100px;
      }

      .text {
        font-size: 14px;
        line-height: 20px;
        padding: 0 4px;
        // margin-right: 12px;
      }
    }
  }
}
