.empty {
  padding: 0 !important;
  margin-top: -50px;
  .breadcrumb {
    color: var(--color-gray-5);
  }
  :global {
    .ant-result-icon {
      transform: scale(0.55);
    }
    .ant-result-title {
      margin-top: -60px;
      font-size: 14px;
    }
    .ant-result-subtitle {
      font-size: 12px;
      color: var(--color-gray-6);
    }
  }
}
