.inner-table {
  :global {
    .ant-table {
      margin-top: -8px !important;
      margin-bottom: -8px !important;
    }
    th.ant-table-cell {
      &::before {
        display: none !important;
      }
    }
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td,
    .ant-table tfoot > tr > th,
    .ant-table tfoot > tr > td {
      background-color: rgba(9, 30, 66, 0.02);
    }
  }
}
