@import '@/common.less';

.table-container {
  display: flex;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  flex-direction: column;
  position: relative;

  .column-setting {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: center;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 5px;
    right: 24px;
    z-index: 10;
  }

  .table {
    flex: 1;
    height: 100%;
    padding: 0 24px;
    // overflow-y: auto;
    .custom-scrollbar-mixin();
  }
  .selection-header,
  .footer {
    flex: none;
  }
  :global {
    .ant-table {
      height: 100%;

      .ant-table-container {
        height: 100%;

        .ant-table-body {
          height: 100%;
        }

        // 修改表格滚动条样式
        .ant-table-sticky-scroll {
          display: none;
        }
      }
    }

    .test-case-title {
      &:hover {
        color: #0c62ff;
      }
    }

    .ant-table-thead,
    .ant-table-row {
      height: 40px;
    }
    .ant-table-thead {
      .ant-table-cell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.ant-table-cell-fix-left {
          z-index: 10 !important;
        }
      }
    }
    .ant-table-body {
      .ant-table-cell {
        &.ant-table-cell-fix-left {
          z-index: 10 !important;
        }
      }
      .custom-scrollbar-mixin();
    }

    .ant-table-placeholder {
      td {
        border: none !important;
      }
    }

    .ant-table-selection-column {
      padding-left: 24px !important;
      padding-right: 0px;
    }

    .ant-table-row-expand-icon-cell {
      padding-left: 24px !important;
      padding-right: 0 !important;
    }

    .react-resizable {
      position: relative;
      background-clip: padding-box;
      &:hover {
        .resizable-handle-global {
          border-right: 2px solid #ccc;
        }
      }
    }
  }
}

.selection-header {
  height: 40px;
  font-weight: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin: 0 24px;
  border-top: 1px solid @border-color;

  // .pagination {
  //   margin-left: auto;
  // }
}

.resizable-handle {
  position: absolute;
  right: 10px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

.column-header-row {
  position: relative;
}
