@import '@/common.less';

@selection-color: #999;
@action-color: #0045d9;
@action-disabled-color: #999;

.disabled-action() {
  color: @action-disabled-color;
  cursor: not-allowed;
}

.dropdown-content {
  position: absolute;
  top: -30px;
  padding: 12px 16px 16px 16px;
  left: 30px;
  width: 260px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 6px rgba(9,25,64,0.06), 0px 4px 8px -4px rgba(9,25,64,0.12), 0px 0px 1px 0px rgba(9,25,64,0.24);
  border-radius: 4px;
  margin-top: 8px;
  z-index: 1;
}

.dropdown-title {
  font-weight: 600;
  font-size: 14px;
  height: 22px;
  color: rgba(9,25,64,0.9);
  line-height: 22px;
  text-align: left;
  font-style: normal;
  margin-bottom: 16px;
}

.status-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 6px;
}

.status-item {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.status-count {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: rgba(9,25,64,0.5);
  line-height: 22px;
}

.view-link {
  color: #0C62FF;
  cursor: pointer;
}

.dropdown-footer {
  float: right;
}

.confirm-btn {
  margin-left: 8px;
}

.table-selection {
  height: 100%;
  display: flex;
  margin: 0 24px;
  padding: 0 16px;
  align-items: center;
  color: @selection-color;
  border-bottom: 1px solid @border-color;
  padding-right: 30px;

  &.table-expandable {
    margin-left: 48px;
  }

  .select {
    flex: none;
  }

  .checkbox {
    margin-top: -4px;
    padding-right: 16px;
  }

  .checkbox-label {
    margin-right: 8px;
    color: #0c62ff;
  }

  .num {
    color: @highlight-color;
    margin: 0 0.5em;
  }

  .line {
    width: 1px;
    height: 20px;
    margin: 0 12px;
    background-color: @selection-color;
  }

  .action {
    flex: none;
    cursor: pointer;
    color: @action-color;
    // 后代选择器内有 disable 样式也将变成不可点击样式
    :global {
      .disabled {
        .disabled-action();
        .user-field {
          .disabled-action();
        }
      }
    }
    &.disabled {
      .disabled-action();
      :global {
        .user-field {
          .disabled-action();
        }
      }
    }
    :global {
      .user-field {
        color: @action-color;
      }
    }
    & + .action {
      margin-left: 24px;
    }
  }

  .cancel {
    cursor: pointer;
    margin-left: auto;
  }

  :global {
    .field-cell-layout {
      flex: none;
      max-width: 130px;
    }
  }
}
