@import '@/index.global.less';

@selection-color: #999;
@action-color: #0045d9;
@action-disabled-color: #999;

.disabled-action() {
  color: @action-disabled-color;
  cursor: not-allowed;
}

.table-selection {
  height: 100%;
  display: flex;
  margin: 0 24px;
  padding: 0 8px;
  align-items: center;
  color: @selection-color;
  border-bottom: 1px solid @border-color;

  &.table-expandable {
    margin-left: 48px;
  }

  .select {
    flex: none;
  }

  .checkbox {
    padding-right: 14px;
  }

  .checkbox-label {
    margin-right: 8px;
    color: #213053;
  }

  .num {
    color: @highlight-color;
    margin: 0 0.5em;
  }

  .line {
    width: 1px;
    height: 20px;
    margin: 0 12px;
    background-color: @selection-color;
  }

  .action {
    flex: none;
    cursor: pointer;
    color: @action-color;
    // 后代选择器内有 disable 样式也将变成不可点击样式
    :global {
      .disabled {
        .disabled-action();
        .user-field {
          .disabled-action();
        }
      }
    }
    &.disabled {
      .disabled-action();
      :global {
        .user-field {
          .disabled-action();
        }
      }
    }
    :global {
      .user-field {
        color: @action-color;
      }
    }
    & + .action {
      margin-left: 24px;
    }
  }

  .cancel {
    cursor: pointer;
    margin-left: auto;
  }

  :global {
    .field-cell-layout {
      flex: none;
      max-width: 130px;
    }
  }
}
