.test-repository {
  display: flex;
  flex-direction: row;

  .left {
    position: relative;
    min-width: 300px;
    max-width: 50%;
    flex: none;
    padding-right: 6px;

    :global {
      .react-resizable-handle {
        position: absolute;
        cursor: ew-resize;
        width: 10px;
        height: 100%;
        right: -5px;
        top: 0;
        border-left: 1px solid var(--color-gray-5);
        &:hover {
          border-color: var(--color-brand-5);
        }
      }
    }
  }

  .right {
    flex: 1;
    min-width: 400px;
  }

  :global {
    // .ant-pagination {
    //   position: sticky;
    //   bottom: 0;
    // }
  }

  .header {
    display: flex;
    align-items: center;
    padding: 11px 22px;
    min-height: 55px;
    border-bottom: 1px solid var(--color-gray-5);

    .light {
      color: var(--color-gray-6);
    }

    .breadcrumb {
      margin-right: 20px;
    }

    .search {
      margin-left: auto;
      flex: none;
    }
  }
  .main {
    height: 100%;
    padding: 0 22px;
    .empty {
      padding-top: 100px;
    }
  }
}
