.test-repository {
  height: ~'calc(100vh - 95px)';
  display: flex;
  flex-direction: column;

  .layout {
    .left {
      min-width: 300px;
      width: 26%;
    }

    .right {
      flex: 1;
      min-width: 400px;
    }

    :global .w-split-bar {
      width: 10px;
      z-index: 1;
      margin: 0px -5px;
      background: inherit;
      box-shadow: none;
      & > div {
        cursor: ew-resize;
        border-right: 1px solid var(--color-gray-5);
        &:hover {
          border-color: var(--color-brand-5);
        }
      }
      &:after,
      &:before {
        display: none;
      }
    }
  }

  .header {
    padding: 11px 22px;
    min-height: 45px;
    border-bottom: 1px solid var(--color-gray-5);
    .highlight {
      color: var(--color-brand-5);
    }
  }
  .main {
    .empty {
      margin-top: 100px;
    }
  }
}
