.test-case {
  border-bottom: 1px solid var(--color-gray-6);
  border-left: 4px solid rgb(66, 82, 110);
  margin-left: 40px;
  padding: 8px 12px;
}

.bottom {
  margin-top: 6px;
}

.item-type {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin-right: 10px;
}

.status {
  color: rgb(255, 255, 255);
  border-radius: 3px;
  font-weight: 700;
  padding: 2px 4px 3px;
  font-size: 12px;

  &.Start {
    background: rgb(221, 225, 231);
    color: rgb(65, 82, 110);
  }
  &.InProgress {
    background: rgb(221, 235, 255);
    color: rgb(3, 71, 166);
  }
  &.Finished {
    background: rgb(227, 252, 239);
    color: rgb(16, 112, 80);
  }
}
