:root {
  .test-editor-container {
    border: 1px solid #fff;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-radius: 4px;

    &.readonly {
      padding: 0 6px;

      &:hover {
        border-color: rgb(241, 242, 244);
      }
    }
  }
}
