.port-box {
  display: flex;
  margin-bottom: 12px;

  .port-box-index {
    margin-right: 4px;
    font-weight: bold;
  }

  .port-box-cont {
    .cont-title {
      font-weight: bold;
      margin-bottom: 8px;
    }
    .cont-tips {
      color: #666;
      margin-bottom: 8px;
    }
  }
}

.export-modal {
  :global {
    .right-box-wrapper {
      .ant-input-affix-wrapper {
        padding: 11px 12px !important;
      }
    }
  }
}
