
.test_span{
    // width: 100%;
    display: flex;
    justify-content:space-around;
    .test_span_color{
        color: #3992E4;
        padding-left: 3px;
        padding-right: 3px;
    }
    .test_span_line{
        color: #999;
        padding-right: 8px;
    }
}