.modal {
  :global {
    .ant-modal-body {
      padding: 0 24px 20px;
    }
  }
}

.modalTitle {
  font-weight: 700;
}

.row {
  margin-top: 20px;

  .label {
    display: inline-block;
    position: relative;
    padding-bottom: 8px;
    &:after {
      content: '*';
      position: absolute;
      top: -6px;
      right: -10px;
      color: red;
    }
  }
}
