.tooltip {
  :global {
    .ant-tooltip-content {
      margin-bottom: 6px;
    }
    .ant-tooltip-arrow {
      transform: translateY(-6px);
    }
  }
}

.dragging {
  background-color: #0c62ff;
  padding: 8px 12px;
  color: #fff;
}

.row-test-case-repository {
  .case-title {
    margin-left: 12px;
  }
}

.icon {
  // font-size: 16px;
  :global {
    .anticon {
      line-height: 1;
    }
  }
}

.ant-table-row-dragover {
  background-color: #fafbfb;
}

.test-manager-drop-over-upward,
.test-manager-drop-over-downward {
  :global {
    td {
      border-top: 1px solid #0c62ff !important;
    }
  }
}

.user-field {
  white-space: nowrap;
}

.test-table-box {
  :global {
    .ant-table-thead,
    .ant-table-body {
      .ant-table-cell {
        &.test-case-title {
          padding: 9.5px 16px 9.5px 6px !important;
        }
      }
    }
  }
}
