.container {
  height: 100%;
  overflow: hidden;
  p {
    margin-bottom: 0;
  }

  :global {
    .hotbox {
      display: none;
    }
    .ant-drawer-header {
      padding: 0 24px;
    }
    .ant-drawer-body {
      padding: 0;
    }
    .ant-tooltip-arrow {
      display: none;
    }
    .ant-drawer-title {
      h3 {
        font-weight: 600;
        padding-left: 10px;
      }
    }
    .ant-drawer {
      position: absolute !important;
    }
    ul {
      padding-left: 0;
      margin: 0;
    }
    .ant-btn {
      margin: auto;
      height: 32px;
    }
    .ant-drawer-body {
      svg {
        box-sizing: content-box;
        padding: 2px;
        top: 10px;
      }
    }
    .ant-result-title {
      font-size: 16px;
    }
  }
}
