.detail-list {
  display: flex;
  // grid-row-gap: 10px;
  // grid-template-columns: 30px 100px 10px;
  .nav {
    display: flex;
    background-color: rgb(66, 82, 110);
    flex-flow: column;
    border-radius: 3px;
    text-align: center;
    color: white;
    font-weight: bold;

    &__index {
      min-width: 30px;
      padding: 5px 3px;
    }

    &__up {
      cursor: pointer;
    }

    &__icon {
      margin-top: auto;
    }

    &__drag {
      cursor: move;

      &__expand {
        margin-top: auto;
        padding-bottom: 12px;
      }
    }

    .call {
      background-color: #52c41a;
    }
  }

  .list {
    flex: 1;
    margin-left: 5px;
    &__item {
      padding: 6px;
      margin-top: 8px;
      border: 1px solid rgb(245, 245, 245);
      min-height: 80px;

      &:first-child {
        margin-top: 0;
      }

      &__topic {
        color: rgb(23, 43, 77);
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-left: 6px;
        p {
          margin: 0;
        }
        p > span {
          margin-left: 6px;
        }
      }

      &__result {
        padding: 6px;
        padding: 3px;
        border-radius: 3px;
        transition: background-color 0.2s ease-in-out 0s;
        word-break: break-all;
        &:hover {
          background-color: rgb(235, 236, 240);
          cursor: pointer;
        }
      }

    }

    .call-test {
      height: 100%;

      &-topic {
        .label {
          background-color: #52c41a;
          color: rgb(255, 255, 255);
          border-radius: 3px;
          box-sizing: border-box;
          display: inline-flex;
          margin-right: 6px;
          padding: 0 3px;
        }
      }
    }

    &__expand {
      .list__item {
        height: 60px;
        overflow: hidden;
      }
    }
  }

  &-expand {
    color:red;
  }

  .tools {
    margin-left: 5px;
    display: flex;
    flex-flow: column;
    border-radius: 3px;
    background-color: rgb(237, 237, 237);

    &__item {
      padding: 4px;
      &:first-child {
        margin-top: 0;
      }
    }
  }

}

.around {
  :global {
    .ant-divider-horizontal.ant-divider-with-text {
      margin: 0;
    }
  }
  &__divider {
    margin: 0;
    opacity: 0;
    transition: all 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}

.detail-footer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 45px;

  & > button {
    margin-left: 8px;
  }
}