@border-color: #e9eaec;
@primary-color: #0c62ff;
@section-margin: 22px;

:root {
  .header {
    padding-bottom: @section-margin;
    border-bottom: 1px solid @border-color;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;

    > div {
      display: flex;
      align-items: center;
    }

    .title {
      font-size: 18px;
      font-weight: 600;
    }

    .left {
      display: flex;
      align-items: center;

      .status-divider {
        position: relative;
        margin-left: 32px;
        height: 32px;

        &::before {
          position: absolute;
          content: '';
          height: 24px;
          top: 50%;
          width: 0;
          left: -16px;
          border-left: 1px solid #f1f2f4;
          transform: translateY(-50%);
        }
      }
    }

    .next {
      margin-left: auto;
      display: flex;
      align-items: center;
      .next-btn {
        border-color: @primary-color !important;
        color: @primary-color !important;
        margin-right: 16px !important;
      }
      .label {
        margin-left: 6px;
      }
    }

    .status-btn {
      :global {
        .status {
          height: 32px;
        }
      }
    }
  }

  .main {
    padding-top: @section-margin;
    .collapse {
      .active-rotate {
        transform: rotate(0deg) !important;
      }

      .icon {
        font-size: 16px !important;
        transform: rotate(-90deg);
      }

      :global {
        .ant-collapse-header,
        .icon-wrapper {
          background-color: #fff !important;
        }
        .ant-collapse-item {
          > .ant-collapse-header {
            font-weight: bold;
          }
        }
      }
    }

    .precondition {
      white-space: pre-line;
    }

    .tab {
      margin-top: @section-margin;
    }

    .tabs {
      :global {
        .ant-tabs-tab-active {
          :local(.num) {
            background: #e2ecff;
          }
        }
      }
      .tab-title {
        display: flex;
        align-items: center;
      }
      .num {
        width: 18px;
        height: 18px;
        font-size: 12px;
        text-align: center;
        line-height: 18px;
        border-radius: 50%;
        margin-left: 4px;
        background-color: #f5f6f8;
        margin-top: 2px;
      }
    }
  }

  :global {
    .ant-tabs-tabpane-hidden {
      display: none;
    }
  }
}
