:global {
  .container {
    .ant-switch-checked .ant-switch-handle {
      left: calc(55%);
    }
  }
  .section {
    width: 450px;
    & + .section {
      margin-top: 26px;
    }
    > h3 {
      padding-bottom: 15px;
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 700;
    }
  }
  .action {
    margin-top: 36px;
  }
  .label {
    display: inline-block;
    min-width: 16em;
  }
}
