:global {
  .container {
    .ant-switch-checked .ant-switch-handle {
      left: calc(55%);
    }
  }
  .section {
    width: 450px;
    & + .section {
      margin-top: 26px;
    }
    .section-inputNumber {
      margin-right: 10px;
    }
    > h3 {
      padding-bottom: 15px;
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 700;
    }

    .section-radio-group {
      .ant-radio-wrapper {
        margin-bottom: 16px;
      }
    }
  }
  .action {
    margin-top: 36px;
  }
  .section-label {
    display: inline-block;
    min-width: 16em;
  }
  .limit-title {
    margin-top: 16px;
    background-color: rgba(9, 25, 64, 0.06);
    display: flex;
    align-items: center;
    padding: 8px;
  }
  .global-config {
    font-weight: 300;
    margin-left: 16px;
    font-size: 12px;
  }
  .last-section {
    margin-bottom: 24px;
  }
}
