:root {
  .collapse {
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #E9EAEC;
  
    &__header {
      background: #F4F4F5;
      border-radius: 3px 3px 0px 0px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 8px 11px;
      cursor: pointer;
  
      &__icon {
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        color: #1E2A3D;
      }

      &__topic {
        margin-left: 8px;
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #1E2A3D;
        line-height: 24px;
      }
    }

    &__box {
      padding: 20px 20px 0 20px;
    }

    &__panel {
      padding-bottom: 32px;
      &__header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &__tools {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          cursor: pointer;
        }

        .num {
          width: 20px;
          height: 20px;
          background: #B0B5BC;
          border-radius: 10px;
          font-size: 12px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #FFFFFF;
          line-height: 20px;
          text-align: center;
          margin-left: 8px;
        }

        .icon {
          width: 16px;
          height: 16px;
          line-height: 16px;
          font-size: 12px;
          color: #1E2A3D;
        }

        .title {
          font-size: 14px;
          font-family: PingFangSC-Semibold, PingFang SC;
          font-weight: 600;
          color: #1E2A3D;
          line-height: 22px;
          margin-left: 4px;
        }
      }

      &__extra {
        margin-left: 8px;
      }

      &__box {
        padding: 16px 0 0 0;
      }
    }

  }
  
  .close {
    transform: rotate(0);
    animation: tipsRotateClose .3s;
  }
  
  .show {
    transform: rotate(90deg);
    animation: tipsRotateShow .3s;
  }
  
  @keyframes tipsRotateClose {
    0% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  
  @keyframes tipsRotateShow {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(90deg);
    }
  }
}