.list {
  border-radius: 4px;
  border: none;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .left, .right {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    
    .left {
      &__tips {
        background: #0A50D1;
        border-radius: 4px;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 20px;
        padding: 0 14px;
      }

      &__icon {
        width: 16px;
        height: 16px;
        background-color: antiquewhite;
        border-radius: 4px;
        margin-left: 16px;
      }

      &__key {
        margin-left: 8px;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #878C96;
        line-height: 22px;
        cursor: pointer;
      }

      &__name {
        margin-left: 8px;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #1E2A3D;
        line-height: 22px;
      }
    }

    .right {
      &__icon {
        transition: all 0.3s;
        opacity: 0;
        cursor: pointer;
      }
    }

    &__del {
      transition: all 0.3s;
      opacity: 0;
    }
  }

  :global(.ant-list-item) {
    transition: all 0.3s;
    border-bottom: none;
    margin-bottom: 2px;
    background: #FBFBFB;
    border-radius: 4px;
    &:hover {
      background: #F4F4F5;

      .right__icon {
        opacity: 1;
      }
    }
  }
}