:root {
  .type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    &__icon {
      width: 16px;
      height: 16px;
    }
  
    &__label {
      margin-left: 3px;
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #1E2A3D;
      line-height: 22px;
    }
  }
}