:root {
  .step-list {
    margin-left: 20px;
    &__item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      background: rgba(244,244,245,.5);
      border-radius: 4px;
      .left {
        display: flex;
        background: #B0B5BC;
        flex-flow: column;
        text-align: center;
        padding: 12px 8px 6px 8px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        color: #fff;

        &__tips {
          margin-top: auto;
        }

        &__index {
          width: 20px;
          border-radius: 50%;
          height: 20px;
          background: #FFFFFF;
          text-align: center;
          font-size: 12px;
          font-family: PingFangSC-Semibold, PingFang SC;
          font-weight: 600;
          color: #B0B5BC;
          line-height: 20px;
        }

        .EXECUTING {
          background: #FFFFFF;
          color: #FFAB00;
        }
    
        .PASSED {
          background: #FFFFFF;
          color: #36B37E;
        }
    
        .FAILED {
          background: #FFFFFF;
          color: #FF7452;
        }
      }

      .right {
        flex: 1;
        padding-left: 24px;
        max-width: ~"calc(100% - 36px)";

        &__item {
          padding-bottom: 12px;
        }

        &__topic {
          margin-top: 12px;
          font-size: 12px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #878C96;
          line-height: 20px;
        }

        &__content {
          margin-top: 8px;
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #1E2A3D;
          line-height: 22px;

          &__btn {
            margin-top: 8px;
            margin-left: -4px;
          }
        }

        &__actual {
          width: 100%;
          margin-left: -12px;
          background: #fff;
          border-radius: 4px;
          padding: 12px 0 0 0;
          .right__topic {
            margin-top: 0;
          }

          .right__item {
            padding-left: 12px;
          }
        }

        &__line {
          width: 100%;
          height: 1px;
          background: #E9EAEC;
          border-radius: 1px;
          opacity: 0.5;
        }

        &__tools {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .btn {
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
        }

        &__status {
          margin-right: 20px;
        }

        .answer {
          margin-bottom: 12px;
          &__item {
            padding: 12px 12px 14px 12px;
            border-right: 1px solid #E9EAEC;
            &:last-child {
              border-right: none;
            }
          }
        }
      }
    }

    .EXECUTING {
      background: rgba(255,250,230,.5);
      .left {
        background: #FFAB00;
      }
    }

    .PASSED {
      background: rgba(226,255,238,.5);
      .left {
        background: #36B37E;
      }
    }

    .FAILED {
      background: rgba(255,235,229,.5);
      .left {
        background: #FF7452;
      }
    }
  }

  .select {
    width: 100%;
  }
}
